/* Colors and fonts */

body{
	background:rgb(253,253,253);
	color: rgb(30,70,50);
	font-family: Kreon, serif;
	font-size: 13px;
	font-weight: lighter;
	letter-spacing: 0.2px;
	line-height: 1.2;
}

h1, h2 {
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 1.6;
}
h1{
	font-family: Merienda, serif;
	color: rgb(0,70,0);
	font-size: 40px;
}

h2{
	font-family: Signika, sans-serif;
	color: rgb(0,85,0);
	font-size: 14px;
}

a{
	text-decoration: none;
	color: rgb(0,150,0);
	font-weight: bolder;
	transition: color 0.3s ease;
}
a:hover{
	text-decoration: none;
	color: white;
}


/* Custom design with classes */
.container{
	width: 750px;
	margin:40px auto;
}

@media (max-width: 950px) {
	.container{
		width: 740px;
	}
}

@media (max-width: 750px) {
	.container{
		width: 620px;
	}
}

@media (max-width: 650px) {
	.container{
		width: 480px;
	}
}

@media (max-width: 500px) {
	.container{
		width: 400px;
	}
}

.card-white{
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}
.img-circle{
	border-radius: 50%;
}
.btn-green{
	background-color: rgb(0,70,0);
	color: white;
	padding: 10px 15px;
	border-radius: 4px; 
}
.btn-green:hover {
	background-color: rgb(0,150,0);
}
.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 8px;
}
.list-inline i {
	font-size: 40px;
	color: rgb(0,220,0);
}
.list-inline li :hover {
	color: rgb(220,220,220);
}

/* Design adjustements with ids*/

#introduction p {
	margin-bottom: 30px;
}